#form-wizard-tooltip {
  font-size: 12px;
}

.hidden-field {
  width: 0;
}
div.mohalla:nth-child(1) {width: 100%;}
div#mohalla:nth-child(1) {width: 100% !important;}
@media only screen and (max-width:768px){
  .dummy-field{
    display: none;
  }
}