html{
  height: 100%;
}

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
  overflow-x: hidden;
  
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

a { color: #F47738; 

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-decoration: none;
}



#root{
  height: 100%;

}



@media only screen and (max-width: 320px) {
  #root {
      margin-right: 2%;
      margin-left: 2%;
  }
}

@media screen and (min-width: 321px) and (max-width: 360px) {


  #root {
      margin-right: 2%;
      margin-left: 2%;
  }
}

@media screen and (min-width: 361px) and (max-width: 375px) {


  #root {
      margin-right: 2%;
      margin-left: 2%;

  }
}

@media screen and (min-width: 378px) and (max-width: 413px) {
  #root {
      margin-right: 2%;
      margin-left: 2%;

  }
}

@media screen and (min-width: 414px) and (max-width: 555px) {
  #root {
      margin-right: 2%;
      margin-left: 2%;

  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
