@media only screen and (min-width: 768px) {
  
    .downloadprint-commonmenu {
        float:right;
        margin-top: -50px;

    }
      
  }

.autocomplete-dropdown {
      position: absolute !important;
      z-index: 1900;
      min-width: 80%;
  }