#navbar
{
/*     width: 300px;
 */}

 #message{
    background-color: #f3e5de;
    color: #f49666;
    border-radius: 15px;            
}
@media only screen and (max-width: 550px) {
    #card1
            {
                height: 230px;
             
            }
            #card2
            {
                height: 230px;
              
            }
            #card3
            {
                height: 230px;
              
            }

}


@media only screen and (max-width: 768px) {

            #card1
            {
                height: 230px;
                margin-top: 250px;
                margin-left: 61px;
                width: 436px;
            }
            #card2
            {
                height: 230px;
                margin-top: 250px;
                width: 436px;
                margin-left: 30px;
            }
            #card3
            {
                height: 230px;
                margin-top: 250px;
                width: 436px;
            }
            #message{
                margin-left: 59px;
                width: 92%;
                background-color: #f3e5de;
                color: #f49666;
                border-radius: 15px;            }
            #leftImage
            {
                height: 40px;
                margin-left: -260px;
            }
 }




.faq-row 
{
    margin-left: 15px;
}

.faq-title 
{
    margin-left: 10px;
}

.faq-row-wrapper
{
    border-radius: 15px;
}