/* #navbar
{
/*     width: 300px;
 } */

 #message{
    background-color: #f3e5de;
    color: #c94806;
    border-radius: 10px;            
}
@media only screen and (max-width: 576px) {
    
    #card1
            {
                height: auto !important;
                width: auto !important;
                margin-top: 10px!important;
                margin-left: auto !important; 
            }
            #card2
            {
                height: auto !important;
                width: auto !important; 
                margin-top: auto !important; 
                margin-left: auto !important; 
              
            }
            #card3
            {
                height: auto !important;
                margin-top: auto !important; 
                margin-left: auto !important; 
                width: 100% !important;
              
            }

            #message{     
                margin-left: 19px !important;
                width: 89% !important;
                background-color: #f3e5de !important;
                color: #c94806 !important;
                border-radius: 15px !important;
                opacity: .8 !important;
            }

}



@media only screen and (max-width: 1600px) {

     #container
    {
        margin-left: 2%;
    margin-right: 2%;

    } 


    #griditem
    {
        width: auto;
        z-index: 100;
    }

    #card1
    {
        height: 240px;
        margin-top: -114px;
        width: auto;
    }
    #card2
    {
        height: 240px;
        margin-top: -114px;
        width: auto;
      
    }
    #card3
    {
        height: 240px;
        margin-top: -114px;
        width: auto;
    }
    #message{
        margin-left: 111px;
        width: 89%;
        background-color: #f3e5de;
        color: #c94806;
        border-radius: 15px;
        opacity: .8;
    }
    #leftImage
    {
        height: 40px;
        margin-left: -137px;
    }
}

@media only screen and (max-width: 1367px) {
    #message
    {
        margin-left: 108px;
    width: 88%;
    background-color: #f3e5de;
    color: #c94806;
    border-radius: 15px;
    opacity: .8;
    }

    #card1
    {
        height: 260px;
        margin-top: -114px;
        width: auto;
    }
    #card2
    {
        height: 260px;
        margin-top: -114px;
        width: auto;
      
    }
    #card3
    {
        height: 260px;
        margin-top: -114px;
        width: auto;
    }
    #message{
        margin-left: 100px;
        width: 87%;
        background-color: #f3e5de;
        color: #c94806;
        border-radius: 15px;
        opacity: .8;
    }
    #leftImage
    {
        height: 40px;
        margin-left: -137px;
    }

}

@media only screen and (max-width: 1200px) {

    /* #container
    {
        //margin-left: 50px;

    } */
    #griditem
    {
        width: auto;
        z-index: 100;
    }

    #card1
    {
        height: 240px;
        margin-top: -114px;
        margin-left: 50px; 
        width: auto;
    }
    #card2
    {
        height: 240px;
        margin-top: -114px;
        width: auto;
        margin-left: 10px;
        //margin-left: 30px;
    }
    #card3
    {
        height: 240px;
        margin-top: -114px;
        width: auto;
        margin-right: 50px;
    }
    #message{
        margin-left: 118px;
        width: 87%;
        background-color: #f3e5de;
        color: #c94806;
        border-radius: 15px;     
        //margin-top:-76px;      
        opacity: .8;
    }
    #leftImage
    {
        height: 40px;
        margin-left: -137px;
    }
}



@media only screen and (max-width: 1025px)
{
    #card1
    {
        height: 360px;
        margin-top: -114px;
        margin-left: 50px; 
        width: 250px;
    }
    #card2
    {
        height: 360px;
        margin-top: -114px;
        width: 250px;
        margin-left: 23px;
    }
    #card3
    {
        height: 360px;
        margin-top: -114px;
        width: 250px;
        margin-right: 50px;
    }
    #message{
        margin-left: 102px;
        width: 81%;
        background-color: #f3e5de;
        color: #c94806;
        border-radius: 15px;
        opacity: .8;
    }
}


@media only screen and (max-width: 800px)
{
    #container
    {
        margin-left: 0%;
    margin-right: 0%;

    } 
    #card1
    {
        height: 350px;
        margin-top: -114px;
        margin-left: 50px; 
        width: 250px;
    }
    #card2
    {
        height: 350px;
        margin-top: -114px;
        width: 250px;
        margin-left: 10px;
        //margin-left: 30px;
    }
    #card3
    {
        margin-left: 47px ;
        margin-top: 50px ;
        height: 350px;
        width: 250px;
        margin-right: 50px;
    }
    #message{
        margin-left: 118px;
        width: 80%;
        background-color: #f3e5de;
        color: #c94806;
        border-radius: 15px;     
        //margin-top:-76px;      
        opacity: .8;
    }
}


.faq-row 
{
    margin-left: 15px;
}

.faq-title 
{
    margin-left: 33%;
    margin-right: 33%;
    border-bottom: 10px #f49666;

}

.faq-row-wrapper
{
    border-radius: 10px;
}