#navbar
{
/*     width: 300px;
 */}
@media only screen and (min-width: 768px) {

            #card1
            {
                height: 230px;
                margin-top: 250px;
                margin-left: 61px;
                width: 436px;
            }
            #card2
            {
                height: 230px;
                margin-top: 250px;
                width: 436px;
                margin-left: 30px;
            }
            #card3
            {
                height: 230px;
                margin-top: 250px;
                width: 436px;
            }
            #leftImage
            {
                height: 40px;
                margin-left: -260px;
            }
 }

