#material-ui-showSearches{
  background-color: transparent !important;
box-shadow: none !important;
margin-top: 0px !important; 
    div{
      background-color: transparent;
        div{
          background-color: transparent;
        }
    }
}

// #material-ui-propertySearchTabs{
//     div{
//     padding:0px !important;
//     }
//   }

#material-ui-popup{
  height: 100%;
  }

#material-ui-yearDetailsContainer{div{div{fieldset{div{label{span:nth-child(1){
  height:20px !important;
}}}}}}}

#material-ui-yearDetailsContainer{div{div{fieldset{label{span:nth-child(1){
  font-size:15px;
  font-weight: bolder;
}}}}}}
#material-ui-yearDetailsContainer{div{div{fieldset{label{
  padding-bottom: 10px;
}}}}}


// button[role=tab]{
//     span{
//         span{
//             span{
//                 span{
//                     color:black;
//                     font-weight:800;
//                 }
//             }
//         }
//     }
// }
#material-ui-searchApplications{
  margin-top: 10px;
  background-color: white !important;
 }

 #material-ui-wnsApplication{
  margin-top: 10px;
  background-color: white !important;
 }

 @media only screen and (max-width: 768px) {
  #material-ui-resetButton{
      float:none !important;
      margin: 0px 20px 10px!important;
  }
  #material-ui-searchButton{
    margin: 0px 20px!important;
  }
  
  .ack-body, .ack-tail {
      display: contents;
      text-align: center;
  } 
  .wns-stepper{
    div{
      padding: 15px 0px 0px!important;
    }
  }   
  .property-buttons{
    display: flex;
    flex-direction: column;
  
  }
}
@media only screen and (min-width: 768px) {

  .downloadprint-menu {
      float:right;
      margin-top: -50px;

  }
  .wns-stepper{
    div{
      padding: 15px 0px 0px!important;
    }
  }
  #custom-containers-genderRadioGroup{ div{
    display: inline-flex!important;
  }
}
.property-buttons{
  display: flex;
  flex-direction: column;

}
}


#material-ui-searchApplications div div div div div div button span span span span {
    font-size: 14px!important;
}

.public-domain-search {
  #material-ui-resetButton, #material-ui-searchButton {
  width: 100% !important;
  margin: 8px 0px !important;
  }
}

