/* body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/assets/Punjab-bg-QA.jpg");
} */
.common-background{
    background-size: cover!important;
}

@media only screen and (max-width: 1200px) {
    .LandingPage-btn-105,#login-button{
        width: 40%!important;
        padding: 3.5% 0%!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 420px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height: 295px!important;
    }
}
@media only screen and (max-width: 978px) {
    
    .LandingPage-root-104, #common-container{
        overflow: scroll!important;
        padding: 15px!important;
    }
    #common-container > div:nth-child(1) > div > img{
        width:270px!important;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root,
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height: 220px!important;
    }
    .LandingPage-btn-105,#login-button{
        width: 40%!important;
        padding: 3.5% 0%!important;
    }
   
}
@media only screen and (max-width: 578px) {
    .LandingPage-root-104,#common-container{
        overflow: scroll!important;
        padding: 15px!important;
    }
    .MuiCard-root{
        height: 450px!important;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 420px!important;
    }
   .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.MuiCardActions-spacing{
        padding-top: 32px!important;
    }
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardActions-root.MuiCardActions-spacing{
        padding-top: 32px!important; 
    }
    /* #common-container > div:nth-child(1) > div > img{
        width:100%;
    } */
    .LandingPage-btn-105{
        width: 40%!important;
        padding: 4.5% 5%!important;
    }
}

@media only screen and (max-width: 375px) {
    .LandingPage-root-104,#common-container{
        overflow: scroll!important;
        padding: 15px!important;
    }
   .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root{
        height: 320px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 500px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height: 345px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.MuiCardActions-spacing{
        padding-top: 111px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardActions-root.MuiCardActions-spacing{
        padding-top: 68px!important;
    }
    .LandingPage-btn-105, #login-button {
        width: 40%!important;
        padding: 3.5% 7%!important;
    }
}

