/* body{
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("/assets/Punjab-bg-QA.jpg");
} */
.common-background{
    background-size: cover!important;
}
@media only screen and (max-width: 1300px) {
    #login-button{
        width:25%!important;
    }
}
@media only screen and (max-width: 1200px) {
    .LandingPage-btn-105,#login-button{
        width: 40%!important;
        padding: 3.5% 0%!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 420px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing,
    #login-citizen
    {
        padding: 52px 16px 16px 16px!important;
    }

    /* #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 420px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height: 295px!important;
    } */
}
@media only screen and (max-width: 959px) {
    .LandingPage-btn-105,#login-button{
        width: 30%!important;
        padding: 3.0% 3%!important;
    }
     .LandingPage-root-104, #common-container{
        overflow: scroll!important;
        padding: 15px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height:200px!important;
    }
    
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 350px!important;
    }
  
    #common-container > div:nth-child(1) > div > img{
        width:270px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing,
    #login-citizen
    {
        padding: 40px 16px 16px 16px!important;
    }
      /*
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root,
    .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height: 220px!important;
    }
    .LandingPage-btn-105,#login-button{
        width: 40%!important;
        padding: 3.5% 0%!important;
    } */
   
}
@media only screen and (max-width: 578px) {
    .LandingPage-btn-105{
        padding: 3.5% 5%!important;
    }
    #common-container >
     div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > 
     div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing,
     #login-citizen
    {
        padding: 55px 16px 16px 16px!important;
    }
}
@media only screen and (max-width: 550px) {
    .LandingPage-btn-105{
        
        padding: 3.5% 5%!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div{
        height: 390px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 415px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing,
    #login-citizen
    {
        padding: 100px 16px 16px 16px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height:175px!important;
    }
}

@media only screen and (max-width: 500px) {
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing,
    #login-citizen
    {
        padding: 135px 16px 16px 16px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div,
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 400px!important;
    }
   
}
@media only screen and (max-width: 420px) {
    .LandingPage-root-104,#common-container{
        overflow: scroll!important;
        padding: 15px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div{
        height: 465px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 420px!important;
    }
     #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing
    {
        padding: 205px 16px 16px 16px!important;
    }
    #login-citizen{
        padding: 165px 16px 16px 16px!important;
    }
   /* .MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardContent-root{
        height: 200px!important;
    } */
    /* #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div {
        height: 450px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing{
        padding-top: 100px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div{
        height: 480px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardContent-root{
        height: 330px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.MuiCardActions-spacing{
        padding-top: 111px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div > div.MuiCardActions-root.MuiCardActions-spacing{
        padding-top: 36px!important;
    } */
    
}

@media only screen and (max-width: 360px) {
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div{
        height: 480px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 430px!important;
    }
     #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing
    {
        padding: 222px 16px 16px 16px!important;
    }
    #login-citizen{
        padding: 175px 16px 16px 16px!important;
    }
}

@media only screen and (max-width: 320px) {
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div{
        height: 550px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(3) > div{
        height: 480px!important;
    }
    #common-container > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-4 > div:nth-child(2) > div > div.MuiCardActions-root.login-citizen.MuiCardActions-spacing
    {
        padding: 293px 16px 16px 16px!important;
    }
    #login-citizen{
        padding: 225px 16px 16px 16px!important;
    }
    
}
@media only screen and (max-width: 578px) {
    .LandingPage-btn-105, #login-button {
        width: 100%!important;
    }
}