/* for text entrable fields */
.textfield-enterable-selection label{
    color: black !important;
  }
  .textfield-enterable-selection div div div{
    color: black !important;
  }
  
  .textfield-enterable-selection div div div .select-field-placeholder{
    color: grey !important;
  }