
.faq-row 
{
    margin-left: 15px;
}

.faq-title 
{
    margin-left: 33%;
    margin-right: 33%;
    border-bottom: 10px #f49666;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}

.faq-row-wrapper
{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}