.app-container-iframe {
   border-width: 0; width: 100vw; height: 100vh; margin: 32px 0 0 0;
  }
@media (max-width: 768px) {
   .app-container-iframe {
       border-width: 0;
       width: 100vw;
       height: 100vh;
       margin: 32px 0 0 0;
   }
}

@media (max-width: 375px) {
.app-container-iframe {
       border-width: 0;
       width: 100vw;
       height: 100vh;
       margin: 32px 0 0 0;
   }
}

#SubmitButton
{  
  color:#ffffff !important;
  background-color: #696969 !important;
  border-radius: 2px !important;
  width: 300px !important;
  height: 48px !important;
 
} 
#ResetButton
{  
  color:#ffffff !important;
  width: 300px !important;
  height: 50px !important;
  border: 1px solid rgb(254, 122, 81) !important;
  border-radius: 2px !important;
} 

@media only screen and (max-width: 768px) {
  #SubmitButton
  {  
    color:#ffffff !important;
    background-color: #696969 !important;
    border-radius: 2px !important;   
    width: 200px !important; 
   
  } 
  #ResetButton
  {  
    color:#ffffff !important;
    border-radius: 2px !important;        
    border: 1px solid rgb(254, 122, 81) !important;
    border-radius: 2px !important;
    width: 200px !important;

  } 

}

@media only screen and (max-width: 600px) {
  #SubmitButton
  {  
    color:#ffffff !important;
    background-color: #696969 !important;
    border-radius: 2px !important;
    width: 150px !important;
  
   
  } 
  #ResetButton
  {  
    color:#ffffff !important;
    border-radius: 2px !important;        
    border: 1px solid rgb(254, 122, 81) !important;
    border-radius: 2px !important;
    width: 150px !important;

  } 

}
@media only screen and (max-width: 320px) {
  #SubmitButton
  {  
    color:#ffffff !important;
    background-color: #696969 !important;
    border-radius: 2px !important;   
    width: 100px !important;
   
  } 
  #ResetButton
  {  
    color:#ffffff !important;
    border-radius: 2px !important;        
    border: 1px solid rgb(254, 122, 81) !important;
    border-radius: 2px !important;
    width: 100px !important;

  } 

}

