.timer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayTime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 1%;
 // border-style: groove;
    font-size: larger;
}