@media only screen and (max-width: 1600px) {
    #links {
        display: inline-flex;
        margin-left: 47%;
    }

    #bannerimage {
        width: 1582px;    }
    #faqs {
        margin-left: 7%;
    margin-right: 4%;
    }
    #homepagecards {
        margin-left: 66px;
        margin-right: 21px;
    }
    #testimonials {
        margin-left: 7%;
        margin-right: 2%;
    }

}

@media only screen and (max-width: 1440px) {
    #links {
        display: inline-flex;
        margin-left: 27%;
    }

    #bannerimage {
        width: 1424px;    
    }
    #faqs {
        margin-left: 7%;
    margin-right: 4%;
    }
    #homepagecards {
        margin-left: 66px;
        margin-right: 21px;
    }
    #testimonials {
        margin-left: 7%;
        margin-right: 2%;
    }

}

@media only screen and (max-width: 1367px) {
    #bannerimage {
        width: 1349px;
    }

    #links {
        display: inline-flex;
        margin-left: 27%;
    }
    #faqs {
        margin-left: 7%;
    margin-right: 5%;
    }
    #testimonials {
        margin-left: 8%;
    margin-right: 3%;
        }

}

@media only screen and (max-width: 1280px) {
    #bannerimage {
        width: 1260px;
    }

    #links {
        display: inline-flex;
        margin-left: 22%;    }
        

}

@media only screen and (max-width: 1025px) {
    #bannerimage {
        width: auto;
    }

    #links {
        display: inline-flex;
        margin-left: 18%;    }
        
    #homepagecards
    {
        margin-left: 16px;
        margin-right: 21px;
    }
        

}



/* @media only screen and (max-width: 1200px) {

    #faqs {
        margin-left: 129px;
        margin-right: 117px;
    }

    #testimonials {
        margin-left: 129px;
        margin-right: 80px;
    }

    #homepagecards {
        margin-left: 66px;
        margin-right: 21px;
    }
}
 */

@media only screen and (max-width: 1025px) {
    #bannerimage {
        width: auto;
    }
}
@media only screen and (max-width: 800px) {
    #bannerimage {
        width: auto;
    }
}

@media only screen and (max-width: 800px) {
    #links {
        display: inline-flex;
        margin-left: -5%;
    }

    #faqs {
        margin-left: 124px;
        margin-right: 70px;
    }

    #testimonials {
        margin-left: 129px;
        margin-right: 46px;
    }

    #homepagecards {
        margin-left: 10px;
        margin-right: 10px;
        //margin-top: 20%;
    }
}

@media only screen and (max-width: 576px) {
    #links {
        display: inline-flex;
        margin-left: 47%;
    }
    #homepagecards {
        margin-left: 3px;
        margin-right: 3px;
    }

    #bannerimage {
        width: auto;
    }

    #testimonials {
        margin-left: 10%;
        margin-right: 5%;
    }
    #faqs {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#flex-container {
    display: flex;
    background-color: #FFF;
}

#flex-container>div {
    // background-color: #f1f1f1;
    margin: 1px;
    // padding: 16px;
    font-size: 16px;
}

/*   @media only screen and (max-width: 576px) {
    #root
    {
        margin-right: -20%;
    }
  } */
@media only screen and (max-width: 320px) {
    #root {
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media screen and (min-width: 321px) and (max-width: 360px) {


    #root {
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media screen and (min-width: 361px) and (max-width: 375px) {


    #root {
        margin-right: 2%;
        margin-left: 2%;

    }
}

@media screen and (min-width: 378px) and (max-width: 413px) {
    #root {
        margin-right: 2%;
        margin-left: 2%;

    }
}

@media screen and (min-width: 414px) and (max-width: 555px) {
    #root {
        margin-right: 2%;
        margin-left: 2%;

    }
}