@media only screen and (min-width: 768px) {
#faqs
{
    margin-left: 129px;
    margin-right: 117px;
}
#testimonials{
    margin-left: 129px;
    margin-right: 80px;
}
#homepagecards{
    margin-left: 66px;
    margin-right: 21px;
}
}
@media only screen and (max-width: 550px) {

        #testimonials{
        margin-left: 10%;
        }
}