#flink
{
    color : #fff
}
@media only screen and (max-width: 1600px) {

    #footercontainer
    {
        margin: 0 13%;
    }

    #footer1
    {
        margin-left: -68px;   
    }
    #footer2
    {   
        width: 256px;
        margin-left: 147px;
    }
    #footer3
    {   
        width: 238px;
        margin-left: 67px;
    }
    #footer4
    {
        width: 150px;
        margin-left: 112px;
    }
    
}
@media only screen and (max-width: 1368px) {

    #footercontainer
    {
        margin: 0px 15%;
    }

    #footer1
    {
        margin-left: -68px;   
    }
    #footer2
    {   
        width: 256px;
        margin-left: 147px;
    }
    #footer3
    {   
        width: 241px;
        margin-left: 61px;
    }
    #footer4
    {
        width: auto;
        margin-left: 0;
    }
    
}
@media only screen and (max-width: 1279px) {

    #footercontainer
    {
        margin: 0px 15%;
    }

    #footer1
    {
        margin-left: -68px;   
    }
    #footer2
    {   
        width: 256px;
        margin-left: 147px;
    }
    #footer3
    {   
        width: 241px;
        margin-left: 61px;
    }
    #footer4
    {
        width: auto;
        margin-left: 0;
    }
    
}
@media only screen and (max-width: 800px) {

    #footercontainer
    {
        width: 1272px;
        margin-left: 16%;
    }

   /*  #footer1
    {
        //margin-left: -68px;   
    } */
    #footer2
    {   
        width: 256px;
        //margin-left: 147px;
    }
    #footer3
    {   
        width: 240px;
    margin-left: 52px;
    margin-right: 100px;
    }
    #footer4
    {
        width: 150px;
        margin-left: 9px;
    }
    
}
@media only screen and (max-width: 700px) {

    #footercontainer
    {
        margin-left: 177px;
        /* width: 964px;*/
    }

    #footer1
    {
        margin-left: -68px;
    }
    #footer2
    {   
        width: 203px;
        margin-left: 99px;
    }
    #footer3
    {   
        width: 200px;
        margin-left: 72px;
    }
    #footer4
    {
        width: 150px;
        margin-left: 88px;
    }
    
}

@media only screen and (max-width: 551px) {
    #footercontainer
    {
        width: 550px;
        margin-left : 10%;
    }
    /* #footer1
    {
        //margin-left: -68px;   
    } */
    #footer2
    {   
        margin-left: -42px;  
    }
    #footer3
    {   
        margin-left: 49px;

    }
    #footer4
    {
        margin-left: -68px; 
    }
}

@media only screen and (max-width: 415px) {
    #footercontainer
    {
        width: 414px;
        margin-left : 10%;

    }
    #footer1
    {
        margin-left: -97px;
    }
    #footer2
    {   
        margin-left: 9%;
    margin-right: 182px;
    }
    #footer3
    {   
        margin-left: -3%;
    }
    #footer4
    {
        margin-left: 3%;
    margin-right: 179px;
    }
    

}

@media only screen and (max-width: 361px) {
    #footercontainer
    {
        width: 360px;
        margin-left: 0px;
    }
   /*  #footer1
    {
        //margin-left: -68px;   
    } */
    #footer2
    {   
        margin-left: 12%;
        }
    #footer3
    {   
        margin-left: 0px;

    }
    #footer4
    {
        margin-left: 10%;
        margin-right: 189px;
    }

}
@media only screen and (max-width: 321px) {
    #footercontainer
    {
        width: 321px
    }
    #footer1
    {
        //margin-left: -68px;  
        margin-left: -33px; 
    }
    #footer2
    {   
        margin-left: 18%;
    }
    #footer3
    {   
        margin-left: 12%;;

    }
    #footer4
    {
        margin-left: 16%;
    }

}


/* @media only screen and (max-width: 360px) {
    #footercontainer
    {
        width: 360px
    }
    #footer1
    {
        //margin-left: -68px;   
    }
    #footer2
    {   
        margin-left: 17%;
    }
    #footer3
    {   
        margin-left: 18%;;

    }
    #footer4
    {
        margin-left: -26%;
    }

}

 */