.reset-rebate-action-button {
    color: #fe7a51 !important;
    width: 230px;
    height: 48px;
}
#additionalRebate > div > div.pt-rebate-box-btn > div.reset-rebate-action-button > button > div > div > span > div > div {
    color: #fe7a51 !important;
}