.language-selection .banner-back-button {
  display: none !important;
}

/* Language Selection  */
.language-label > div {
  color: #484848;
  font-size: 14px;
  font-weight: normal;
}

.lang-continue-button>button{
  background-color: #FE7A51 !important;
} 
.lang-continue-button:hover>button>div{
      background-color: #D86845 !important;
}
.language-label {
  display: inline-block !important;
  padding: 0px 5px;
}

.button-toggle-container {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

.fix-for-layout-break {
  margin-bottom: 10px;
  width: 80%;
}


@media only screen and (max-width: 360px) {
  .button-toggle-container button {
    padding: 0 10px !important;
  }

  .button-toggle-container span {
    font-size: 13px !important;
  }
}

