.search-property-btn {
  width: 15%;
  margin: 0 auto;
  min-width: 0 !important;
  margin: 20px 0;
}

.searchProperty > :first-child {
  line-height: 0px;
}

@media only screen and (max-width: 768px){
  .search-property-btn{
    width:auto;
  }
}  